.calendar {
  user-select: none;
}

.calendar tbody:empty {
  display: none;
}

.calendar th,
.calendar td {
  position: relative;
}

.calendar th::before,
.calendar td::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.calendar tr:nth-child(even) th::before,
.calendar tr:nth-child(even) td::before {
  opacity: 0.15;
  background-color: #050505;
}

.pashalka {
  transform: translateY(100%);
  position: fixed;
  right: 15%;
  bottom: 0;
  animation-name: show-pashalka;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-delay: 30s;
}

@keyframes show-pashalka {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(20%);
  }
}
